#items{
     list-style:none;
     margin:0px;
     margin-top:4px;
     padding-left:10px;
     padding-right:10px;
     padding-bottom:3px;
     font-size:17px;
     color: #333333;
     font-family: Calibri;
}
 hr {
     width: 85%;
     background-color:#E4E4E4;
     border-color:#E4E4E4;
     color:#E4E4E4;
}
 #cntnr{
     display:none;
     position:fixed;
     border:1px solid #B2B2B2;
     width:150px;
     background:#F9F9F9;
     box-shadow: 3px 3px 2px #E9E9E9;
     border-radius:4px;
}
 li{
     padding: 3px;
     padding-left:10px;
}
 #items :hover{
     color: white;
     background:#284570;
     border-radius:2px;
}
 .unselectable {
     -webkit-touch-callout: none;
     -webkit-user-select: none;
     -khtml-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
}
